<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Video Player</title>
</head>
<body>
    <header>
        <h1>Welcome to Video Streamer</h1>
        <a href="/uploader/upload" class="upload-button"><b>Click here to upload a new video</b></a>
    </header>
    <main class="video-grid" style="max-width: 100% !important;">
        {% for video in videos %}
        <div class="video-container" style="max-width: 300px;">
            <video id="videoPlayer{{ video.id }}" class="responsive-video" controls >
                <source id="sourceDash{{ video.id }}" src="{{ video.video_file.url }}" type="application/dash+xml">
            </video>
            <div class="download-links">
                <a href="{{video.video_file.url }}" download>Download</a>
            </div>
        </div>
        {% endfor %}
    </main>
    <script>
        function getResolution() {
            const width = window.innerWidth;
            if (width < 768) {
                return 'mobile';
            } else if (width < 1024) {
                return 'tablet';
            } else {
                return 'desktop';
            }
        }

        const resolution = getResolution();

        document.querySelectorAll('video').forEach((videoElement) => {
            const player = dashjs.MediaPlayer().create();
            const sourceDash = videoElement.querySelector('source');

            // Extract the original video name from the URL without the extension
            const originalVideoName = sourceDash.src.split('/').slice(-1)[0].split('.')[0];

            // Construct the new path based on the resolution
            const newSourcePath = `/media/post_videos/${originalVideoName}/${resolution}/${resolution}.mpd`;

            // Set the new source path
            sourceDash.src = newSourcePath;

            // Clear existing source to avoid caching issues
            videoElement.pause();
            videoElement.removeAttribute('src');
            videoElement.load();

            // Initialize the player with the new source
            player.initialize(videoElement, sourceDash.src, false);
        });
    </script>
</body>
</html>
